<html>
  <head>
    <title>json01.html</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript">
    	function f1(){
    	  //创建一个js对象
    	  var x = {
    				id:1,
    				name:"Lisa",
    				salary:3000,
    				age:20,
    				interest:["eating","sleeping"]
    			  }; 
    	   //如何访问salary属性的值
    	   //x.salary 
    	   //如何访问第二个爱好
    	   //x.interest[1];
    	   var arr =[
    	   	{id:1,name:"Lisa",interest:["ea","sleeping"]},
    	   	{id:2,name:"Tom",interest:["ea","sleeping"]},
    	   	{id:3,name:"Cat",interest:["ea","sleeping"]}
    	   ];
    	   //如何访问Cat的第二个爱好
    	   arr[2].interest[1]
    	   
    	   json--->对象--->字符串
    	   "{"id":1,"name":"kitty"}"
    	   -->js对象
    	   obj.name
    	   在js语言中, json字符串<--->js对象
    	}	
       
    </script>
  </head>
  
  <body>
    
  </body>
</html>
