<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>测试页</title>
<script>
	function getXhr(){
		var xhr=null;
		if(window.XMLHttpRequest){
			xhr=new XMLHttpRequest();
		}else {
			xhr=new ActiveXObject('Microsoft.XMLHttp');
		}
		return xhr;
	}
	function getShow(){
		var xhr=getXhr();
		xhr.onreadystatechange=function(){
			if(xhr.readyState==4&&xhr.status==200){
				var str=xhr.responseText;
				var objDiv=document.getElementById('d1');
				objDiv.innerHTML=str;
			}
		};
		xhr.open('get','some',true);
		xhr.send(null);
	}
</script>
</head>
<body>
	<div id="d1"></div><br/>
	<input type="button" onclick="getShow()" value="获取Ajax对象" />
</body>
</html>